<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Clima</title>
        <link rel="stylesheet" href="./css/index.css" type="text/css">
    </head>
    <body>
        <div id="corpo">
            <h1>Clima</h1>
            <a href="/" class="linkPagina">Dados</a>
            <a href="/sobre" class="linkPagina">Sobre</a>
            <p>Use este site para encontrar as informações do clima atual de um lugar</p>
            <p>Insira o Nome da localização a ser buscada</p>
            <form id="formulario">
                <input id="textoLocal" placeholder="Localização">
                <button id="botaoBusca" type="submit">Buscar</button>
            </form>
            <p id="resultado"></p>
        </div>
        <footer>Criado por Victor Paro</footer>
        <script src="./scripts/index.js"></script>
    </body>
</html>
