<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./css/sobre.css" type="text/css">
    </head>
    <body>
        <div id="corpo">
            <h1>Previsão do tempo</h1>
            <a href="/" class="linkPagina">Previsão</a>
            <a href="/sobre" class="linkPagina">Sobre</a>
            <p>Esta é uma simples página para pesquisar a previsão do tempo de um local específico, integrando as apis 
                <a href="https://www.mapbox.com/" class="linkExterno">Mapbox</a> para geolocalização e 
                <a href="https://darksky.net/dev" class="linkExterno">Dark Sky</a> para a previsão.
                <br>O objetivo da criação desta página foi de aprendizado com backends em Node.js e uso de APIS.
            </p>
        </div>
    </body>
</html>