body{
    font-family: Arial;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 90vh;
}

#corpo{
    height: 85vh;
    width: auto;
    text-align: center;
}

h1{
    font-size: 64px;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
    text-align: center;
}

.linkPagina{
    color: #b3b3b3;
    text-decoration: none;
    text-shadow: black;
    font-weight: bold;
    font-size: 18px;
}

#textoLocal{
    width: 130px;
    height: 20px;
}

#botaoBusca{
    width: auto;
    height: 25px;
    border: 1px solid #3D3D3D;
    background-color: #3D3D3D;
    color: white;
}